<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">
  <mirrors>
    <mirror>
      <id>internal-nexus</id>
      <name>Internal Nexus</name>
      <url>http://{{ nexus_host }}:{{ nexus_port }}/repository/maven-public/</url>
      <mirrorOf>*</mirrorOf>
    </mirror>
  </mirrors>
  {% if nexus_user is defined and nexus_pass is defined %}
    <servers>
      <server>
        <id>internal-nexus</id>
        <username>{{ nexus_user }}</username>
        <password>{{ nexus_pass }}</password>
      </server>
    </servers>
  {% endif %}
</settings>
