ETCD_DATA_DIR={{ etcd_data_dir }}
ETCD_NAME={{ etcd_name }}
ETCD_LISTEN_PEER_URLS={{ etcd_listen_peer_urls }}
ETCD_LISTEN_CLIENT_URLS={{ etcd_listen_client_urls }}
ETCD_INITIAL_ADVERTISE_PEER_URLS={{ ansible_host }}:2380
ETCD_ADVERTISE_CLIENT_URLS={{ ansible_host }}:2379
ETCD_INITIAL_CLUSTER={{ etcd_initial_cluster | join(',') }}
ETCD_INITIAL_CLUSTER_STATE={{ etcd_initial_cluster_state }}

{% if etcd_tls_enable %}
ETCD_CERT_FILE={{ etcd_tls_cert_dir }}/{{ inventory_hostname }}.crt
ETCD_KEY_FILE={{ etcd_tls_cert_dir }}/{{ inventory_hostname }}.key
ETCD_TRUSTED_CA_FILE={{ etcd_tls_cert_dir }}/ca.crt
ETCD_CLIENT_CERT_AUTH=true
ETCD_PEER_CERT_FILE={{ etcd_tls_cert_dir }}/{{ inventory_hostname }}.crt
ETCD_PEER_KEY_FILE={{ etcd_tls_cert_dir }}/{{ inventory_hostname }}.key
ETCD_PEER_TRUSTED_CA_FILE={{ etcd_tls_cert_dir }}/ca.crt
{% endif %}
