spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/paws360_dev
    username: paws360
    password: paws360_dev_password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    defer-datasource-initialization: true
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database: postgresql
  sql:
    init:
      mode: always
