spring:
  datasource:
    url: jdbc:postgresql://localhost:5434/paws360_test
    username: paws360
    password: test_password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
        default_schema: public
    database: postgresql
  redis:
    host: localhost
    port: 6380
    password: test_redis_password

server:
  port: 9999

management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: always

logging:
  level:
    org.springframework: INFO
    com.uwm.paws360: DEBUG