spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/paws
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database: postgresql
  servlet:
    multipart:
      max-file-size: 5MB
      max-request-size: 5MB

app:
  upload-dir: uploads
