---
- name: Create registry data directory
  file:
    path: /var/lib/registry
    state: directory
    owner: root
    group: root
    mode: '0755'

- name: Pull Docker registry image
  community.docker.docker_image:
    name: registry
    source: pull

- name: Run Docker registry pull-through cache
  shell: |
    if ! docker inspect registry-mirror >/dev/null 2>&1; then
      docker run -d \
        --name registry-mirror \
        --restart always \
        -p 5000:5000 \
        -v /var/lib/registry:/var/lib/registry \
        --ulimit nofile=32768:32768 \
        -e REGISTRY_PROXY_REMOTEURL=https://registry-1.docker.io \
        registry:2
    else
      docker start registry-mirror || true
    fi
